@import "tailwindcss";

.bubbleBackground{
  background-image: url("/public/bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

body {
  font-family: 'Poppins', sans-serif;
}

html{
  font-size: .9rem;
}